body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.big {
    font-size: x-large;
}
.center-text {
    text-align: center;
}

.indent {
    display: inline-block;
    padding-left: 20px;
}
.points-badge {
    display: inline-block;
    width: 40px;
}

.float-right {
    float: right;
}

.number {
    font-size: 100px;
    color:#990033;
    font-weight: bolder;
}

.title-padding {
    font-size: 50px;
    padduing-top:40px;
}